<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <h1> this is layout1</h1>
    <p>____________________________________</p>

    <div>
        @RenderBody()
    </div>
</body>
</html>
